$red: #DD1E2F;
$yellow: yellow;
$default_color: #AAA;
$hover_color: #0F3B5F;

@mixin like-link {
  a.like {
    background-color: $yellow;
    color: $red;
    
    &:hover {
      background-color: darken($yellow, 3%);
      color: darken($red, 5%);
    }   
  }
  
  a.liked {
    color: yellow;
    background-color: $red;
  }
}

@mixin page-title {
  h1 {
    background-color: white;
    padding: 10px;
    margin: 10px;
  }
}

@mixin sidebar {
  margin-left: 10px;
  padding: 10px;
}
