// Place all the styles related to the my controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/inline-block";

.my form.change_password_form {
  label {
    width: 60px;
    text-align: left;
    @include inline-block;
  }

  input.string {
    width: 130px;
  }
}