// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/typography/links/link-colors";
@import "compass/utilities/links/hover-link";
@import "mixin";

form.simple_form {
  &.new_post, &.edit_post {
    label {
      width: 100px;
      @include inline-block;
    }
  
    input.string, textarea {
      @include inline-block;
      width: 340px;
    }
  
    .form-actions {
      width: 440px;
      text-align: center;
    }
    
    span.hint {
      color: #EBB035;
    }
  }
}


.posts {
  &.show .tag_list {
    margin-bottom: 15px;
  }

  .tag_list {
    font-size: 11px;
    span.tagging a {
      @include inline-block;
      padding: 1px 5px;
      background-color: #D4E7ED;
      @include border-radius(5px);
      @include link-colors($default_color, $hover_color);
    }
  } 
}
.posts.list {
  padding: 10px 0;
  .post.entry {
    margin-bottom: 6px;
    padding: 10px;
    border-bottom: 1px dashed #ddd;
    //background-color: lighten(#90CA77, 30%);
    //@include border-radius(5px);
    span.host {
      font-size: 11px;
      color: $default_color;
    }
    
    a {
      @include hover-link;
      @include link-colors(black, $hover_color);
    }
    .info {
      color: #AAA;
      a {
        @include link-colors($default_color, $hover_color);
      }
    }
  }
}

.posts.show {
  span.username {
    font-weight: bold;
  }
  .url {
    margin: 6px auto;
    background-color: #E6E6CC;
    @include border-radius(5px);
    padding: 5px;
  }
  .content {
    margin: 6px auto;
    p {
      margin: 1em auto;
    }
  }
}
